#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 30px;
    color: white;
}

#footer p {
    padding: 0;
    margin: 9px 0 0 0;
    font-size: 12px;
}

#content {
    width: 66%;
    margin: 0 auto;
}

#title {
    text-decoration: underline;
    color: white;
}

.subtitle {
    color: white;
}
